.input {
  background-color: transparent;
  border: none;
  display: inline-block;
  font-family: inherit;
  outline: none;
}

/* .input-search {
  color: var(--color-primary-02);
  border: 0.2rem solid var(--color-primary-02);
  padding: 1rem 1rem;
} */

.input-search {
  color: var(--color-primary-01);
  font-size: 1.4rem;
  padding: 1rem;
  flex: 1;
}

.input-search::placeholder {
  color: var(--color-primary-01-shade-1);
}
